name: Archive Expired Demo

on:
  schedule:
    - cron: '0 0 21 3 *'

jobs:
  archive:
    runs-on: ubuntu-latest
    steps:
      - name: Archive Repository
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.repos.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              archived: true
            })
